services:
  dataset-api:
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    extra_hosts:
      - "keycloak.celine.localhost:172.17.0.1"
      - "api.celine.localhost:172.17.0.1"
